@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

#navbar {
    -webkit-box-shadow: -3px 22px 29px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: -3px 22px 29px -7px rgba(0,0,0,0.51);
    box-shadow: -3px 22px 29px -7px rgba(0,0,0,0.51);
}

#navbar ul li {
    list-style: none;
    display: inline-block;
}

#navbar ul {
    text-align: center;
}

nav#navbar ul li a {
    display: block;
    padding: 30px;
    color: black;
    text-decoration: none;
}

nav#navbar ul li a:hover {
    text-decoration: underline;
}

#logo {
    display: inline-block;
    margin-right: 50px;
}

.img-container h3 {
    position: relative;
    top: -200px;
    left: -300px;
}

.courseline1 {
    display: flex;
    flex-flow: column nowrap;
}

.courseline1 button {
    display: block;
}